:root {
	--sl-font: system-ui, sans-serif;
	--sl-font-heading: 'polymath-display', sans-serif;
	
	--sl-color-text-heading: var(--heading-fill);
	--sl-text-h1: var(--sl-text-6xl);
  --sl-color-accent-low: hsl(311 100% 0% / 0.5);
  --sl-color-accent: hsl(311 100% 50% / 0.9);
  --sl-color-accent-high: hsl(311 100% 50% / 1);

  --sl-color-bg: var(--container-fill);
  --sl-color-bg-nav: var(--container-fill);
  --sl-color-bg-sidebar: var(--container-fill);
  --sl-color-bg-inline-code: var(--surface-inner-fill);
  --sl-color-bg-accent: var(--sl-color-accent-high);
  --sl-color-hairline-light: var(--surface-border-fill);
  --sl-color-hairline: var(--surface-border-fill);
  --sl-color-hairline-shade: var(--surface-border-fill);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-feature-settings: 'ss03' on, 'ss12' on;
}

:is(h1, .starlight-sidebar-topics) {
  font-feature-settings: 'ss01' on, 'ss03' on, 'ss09' on, 'ss10' on, 'ss12' on;
  font-family: var(--sl-font-heading);
}
:is(.starlight-sidebar-topics li) {
	font: inherit;
	font-feature-settings: inherit;
	text-transform: lowercase;
}

:is(h1) {
  --c-border: var(--color-white-100);
  --c-start: var(--color-white-90);
  --c-end: var(--color-white-50);
  --s-border: 1px;
  -webkit-text-stroke-color: var(--c-border);
  -webkit-text-stroke-width: var(--s-border);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--c-start), var(--c-end));
  letter-spacing: 1px;
}

:is(h2, h3, h4, h5, h6) {
  --c-start: var(--color-white-100);
  --c-end: var(--color-white-50);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--c-start), var(--c-end));
}

/* Target specific elements */
.sl-nav-link,
.site-title,
.sl-doc-title,
header h1 {
	font-family: var(--sl-font-heading);
}

p, 
li, 
td, 
blockquote {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.cli-preview {
	padding: 1em;
	border: 1px solid #292929;
	border-radius: 0.5em;
	white-space: pre;
	line-height: 1.2em;
	font-family: monospace;
	background-color: #181818;
	color: white;
}
